body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: antiquewhite;
    text-align: center;
    width: 80%;
}

.menu {
    background-color: #333;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.menu a:hover {
    text-decoration: underline;
}

.container {
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
}

.doboz {
    background-color: burlywood;
    padding: 10px;
    border-radius: 8px;
    border: 5px solid black;
    box-sizing: border-box;
    text-align: center;
}

img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}


@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}
